language:
  conversation_language: {{.ConversationLanguage}}
  conversation_language_name: {{.ConversationLanguageName}}
  agent_prompt_language: {{.AgentPromptLanguage}}
  git_commit_messages: {{.GitCommitMessages}}
  code_comments: {{.CodeComments}}
  documentation: {{.Documentation}}
  error_messages: {{.ErrorMessages}}
