moai:
    initialized: true
    initialized_at: '{{.InitializedAt}}'
    version: '{{.Version}}'
project:
    created_at: '{{.CreatedAt}}'
    description: ""
    mode: personal
    name: '{{.ProjectName}}'
    optimized: false
    template_version: '{{.Version}}'
